<%= form_for(:fyber_offers, url: root_path, method: :get) do |f| %>
  <% if @fyber_offers.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fyber_offers.errors.count, "error") %> prohibited this fyber_offer from being processed:</h2>

      <ul>
      <% @fyber_offers.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uid %>
    <%= f.text_field :uid %>
  </div>

  <div class="field">
    <%= f.label :pub0 %>
    <%= f.text_field :pub0 %>
  </div>

  <div class="field">
    <%= f.label :page %>
    <%= f.text_field :page %>
  </div>

  <div class="actions">
    <%= f.submit "Let's look..." %>
  </div>
<% end %>
