<%= form_for(:fyber_offers, url: root_path, method: :get,
             html: {class: 'form-horizontal'}) do |f| %>
  <% if @fyber_offers.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@fyber_offers.errors.count, "error") %> prohibited this call from being processed:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @fyber_offers.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :uid, class: 'col-sm-2 control-label' %>
    <div class="col-lg-2">
      <%= f.text_field :uid, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :pub0, class: 'col-sm-2 control-label' %>
    <div class="col-lg-2">
      <%= f.text_field :pub0, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit I18n.t('fyber_offers.index.submit'), class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= paginate(@fyber_offers, theme: 'twitter-bootstrap-3') if @fyber_offers.any? %>
    </div>
  </div>

<% end %>
