<p id="notice"><%= notice %></p>

<h1>Listing Fyber Offers</h1>

<% if @fyber_offers.present? %>
  <table>
    <thead>
    <tr>
      <th></th>
      <th><%= t('.title') %></th>
      <th><%= t('.payout') %></th>
    </tr>
    </thead>

    <tbody>
    <% @fyber_offers.each do |fyber_offer| %>
      <tr>
        <td><%= image_tag fyber_offer['thumbnail']['lowres'] %></td>
        <td><%= fyber_offer['title'] %></td>
        <td><%= fyber_offer['payout'] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <%= t('.no_offers')  %>
<% end %>
