<div class="container center-block col-lg-18">
  <p id="notice"><%= notice %></p>

  <h1 class="text-center">Listing Fyber Offers</h1>

  <%= render 'form' %>

  <% if @fyber_offers.present? %>
    <div class="col-sm-offset-1 col-sm-10">
      <table class="table table-striped" id="fyber_offers">
        <thead>
        <tr>
          <th></th>
          <th><%= t('.title') %></th>
          <th><%= t('.payout') %></th>
        </tr>
        </thead>

        <tbody>
        <% @fyber_offers.each do |fyber_offer| %>
          <tr>
            <td><%= image_tag fyber_offer['thumbnail']['lowres'], class: 'img-thumbnail' %></td>
            <td><%= fyber_offer['title'] %></td>
            <td><%= fyber_offer['payout'] %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% elsif @fyber_offers.valid? %>
    <div class="bg-info text-center"><%= t('.no_offers') %></div>
  <% end %>
</div>
